
* { box-sizing: border-box; }

body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header_Content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo_Content {
    display: flex;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.emp_Text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    color: #82a78c;
    text-transform: capitalize;
}

.emp_Payroll {
    color: #42515f;
}

.form_Content {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form {
    width: 65%;
    padding: 44px 60px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form_Head {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.row_Content {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.profile_Radio_Content { 
    display: flex; 
    flex-direction: row;
}

.profile_Radio_Content, label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}

select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}

.button_Parent {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;
}

.submit_Button {
    border: none;
    background-color: #f5f5f5;
    margin-right: 30px;
}

.reset_Button {
    border: none;
    background-color: #f5f5f5;
    margin-right: 30px;
}

.cancel_Button {
    border: none;
    background-color: #f5f5f5;
    margin-right: 30px;
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .cancel_Button {
        margin-left: 0px;
    }
    .form {
        width: 85%;
        padding: 44px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        margin-top: 10px;
    }
    .row {
        flex-direction: column;
    }
    .uploadButton {
        justify-content: flex-start;
    }
    .profile_Radio_Button {
        flex-flow: wrap;
    }
    .submit_Reset {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .submit_Button {
        margin: 0;
    }
    .button_Parent {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}